################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetGiant Ecommerce/Class Libraries/BusinessLogic/BusinessLogic/bin/Debug
/NetGiant Ecommerce/Class Libraries/CommonUI/CommonUI/bin
/NetGiant Ecommerce/Class Libraries/DataAccess/DataAccess/bin/Debug
/Class Libraries/ngmd.DataLayer/netGiant.Intranet.DataLayer/bin/Debug
/Class Libraries/ngmd.DataLayer/netGiant.Intranet.DataLayer/obj/Debug
/NetGiant Ecommerce/Class Libraries/BusinessLogic/BusinessLogic/.vs
/NetGiant Ecommerce/Class Libraries/CommonUI/CommonUI/.vs
/NetGiant Ecommerce/Class Libraries/DataAccess/DataAccess/.vs
/NetGiant Ecommerce/UI/TonerGiant/TG-Ecommerce-Beta/.vs/TG-Ecommerce-Website
/$tf
