/* iphone 5 */
@media (min-width: 320px) {
    #comm-confidence td[data-popupname="ReviewProduct"] {
        text-align: center;
    }

    #ident-modal, #SignIn {
        .modal-dialog {
            width: 300px;
        }
    }

    #ident-modal .ident {
        height: 550px;

        .checkbox {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    #password-modal {
        .modal-md, .modal-content {
            width: 300px;
        }
    }

    .cc-block {
        line-height: 16px;
    }

    .g-p-t-iframe-popup {
        padding-top: 100%;
    }

    .g-m-t-20-xs {
        margin-top: 20px;
    }

    .product {
        .comm-title-margin {
            margin-left: 0px;
        }

        #price-box {
            margin-top: 20px;
        }
    }

    .offer-overlay {
        .border-radius(5px);
        padding-top: 20px;
        padding-bottom: 10px;
        opacity: 1;

        > div:first-child {
            -moz-border-radius: 5px 5px 0 0 !important;
            -webkit-border-radius: 5px 5px 0 0 !important;
            border-radius: 5px 5px 0 0 !important;
        }

        > div:last-child {
            -moz-border-radius: 0 0 5px 5px !important;
            -webkit-border-radius: 0 0 5px 5px !important;
            border-radius: 0 0 5px 5px !important;
        }
    }
}

@media (min-width: 360px) {
    .navbar-inverse .navbar-header > div {
        margin-top: 15px;
    }

    #ident-modal, #SignIn {
        .modal-dialog {
            width: auto;
        }
    }

    #password-modal {
        .modal-md, .modal-content {
            width: auto;
        }
    }
}

@media (max-width: 407px) {
    .hidden-xxs {
        display: none !important;
    }
}
