@media (min-width: 1600px) {
    #comm-confidence + section + *, #page-content {
        background-image: url("@{cdn}/Images/cmVineLeft.png"), url("@{cdn}/Images/cmVineRight.png"), url("@{cdn}/Images/cmFooterGrass.png");
        background-position: left top, right top, left bottom;
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-attachment: scroll, scroll, scroll;
    }
}

#pw-guide > div {
    display: none;
    &.active {
        display: block;
    }
}
