<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ngSBSBatchProcesses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ngSBSBatchProcesses.Properties.Settings>
            <setting name="LocalDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServerFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Environment" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpFrom" serializeAs="String">
                <value>netgiantBatchProcesses@netgiant.com</value>
            </setting>
            <setting name="smtpTo" serializeAs="String">
                <value>richard.lee@netgiant.com</value>
            </setting>
            <setting name="smtpPassword" serializeAs="String">
                <value>pffkjDrEEuXl78SwA7M9</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>C:\Program Files (x86)\Netgiant\Batch Processes\Logs\</value>
            </setting>
        </ngSBSBatchProcesses.Properties.Settings>
    </userSettings>
</configuration>