@media (min-width: 768px) {

    // Global
    .g-p-t-10-sm {
        padding-top: 10px;
    }

    .g-p-t-20-sm {
        padding-top: 20px;
    }

    .g-p-l-20-sm {
        padding-left: 20px;
    }

    .g-p-40-sm {
        padding: 40px;
    }

    .g-p-t-60-sm {
        padding-top: 60px;
    }

    .g-h-120-sm {
        height: 120px;
    }

    .g-h-150-sm {
        height: 150px;
    }

    .g-h-285-sm {
        height: 285px;
    }

    .g-m-t-0-sm {
        margin-top: 0;
    }

    .g-m-b-10-sm {
        margin-bottom: 10px;
    }

    .g-w-120-sm {
        width: 120px;
    }

    .g-w-250-sm {
        width: 250px;
    }

    // Bootstrap Extensions
    .col-sm-5ths {
        width: 20%;
        float: left;
    }

    .hdr-right {
        width: 390px;
    }

    .modal-dialog {
        margin: 30px auto;
        width: auto;
    }

    #ident-modal {
        .modal-dialog {
            width: 400px;
        }
    }

    #SignIn {
        .modal-dialog {
            width: 600px;
        }
    } 
    
    #password-modal {
        .modal-md, .modal-content {
            width: 400px;
        }
    } 
    
    .navbar-inverse {
        .navbar-collapse {
            width: 50%;
            margin-left: -25px;
        }
    }

    .navbar-header {
        float: none;
        margin-right: -25px !important;
        margin-left: -25px !important;
    }

    .navbar-nav {
        float: none;

        li {
            float: none;
        }
    }

    .navbar-collapse.collapse {
        display: none !important;

        &.in {
            display: block !important;
        }
    }

    .navbar-inverse .navbar-collapse .text-right-sm {
        text-align: right;
    }

    .navbar-toggle {
        display: block !important;
    }

    .navbar-addon {
        margin: 0;
        margin-left: -15px;
        padding-left: 15px;
    }

    // Wizard
    .wiz-widget.home {

        #wiz-find {
            margin-right: 20px;
            height: 50px;
            width: 280px;
        }
    }

    .wiz-widget.equip {
        > div > div > div {
            &:first-of-type {
                padding-top: 0;
            }
        }

        #wiz-find {
            margin-right: 20px;
            height: 50px;
            width: 280px;
        }
    }

    .hm-brandWizard {
        text-align: left !important;
    }

    // Checkout Stuff
    #delivery-options {
        .checkbox label {
            margin-left: 0;
            margin-right: 0;

            .service-name {
                display: inline;
            }
        }

        input {
            height: 30px;
        }
    }

    .payment-details-table {
        width: 470px;
    }

    // Basket
    basket-element {
        float: none;
    }
}
