<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
    <!--
    <add name="" connectionString="Data Source=ZBOOK-HP;Initial Catalog=netgiant;Integrated Security=True;"/>
    <add name="" connectionString="Server=ID11211;Database=netgiantMasterData;User Id=netgiantMasterData;Password=Innovation2020;" providerName="System.Data.SqlClient"/>
    <add name="" connectionString="Server=NETGIANT;Database=netgaintMasterData;User Id=netgiantMasterData;Password=Innovation2020;" providerName="System.Data.SqlClient"/>
    -->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajax" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" defaultUrl="~/WebPages/QuestionAnswersUI/Default.aspx" loginUrl="~/WebPages/MembershipUI/Login.aspx" protection="All" timeout="30"></forms>
    </authentication>
    <membership defaultProvider="netgiantMembershipProvider">
      <providers>
        <add name="netgiantMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="netgiantmembership" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="NGROLES" defaultProvider="netgiantRoleProvider">
      <providers>
        <add connectionStringName="netgiantmembership" applicationName="/" name="netgiantRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web,              Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <authorization>
      <allow users="admin" />
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>