<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core"/>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal"/>
    <section name="sagePay" type="System.Configuration.NameValueSectionHandler"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TG_Ecommerce-Website-20161107120237.mdf;Initial Catalog=aspnet-Website-TG-Beta-20161107120237;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="backoffice_Dev" connectionString="Server=NETG-DEVSQL02;Database=tonergiant2;User Id=tonergiant;Password=ujNOtofkwFYdojwo2594;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="backoffice_Live" connectionString="Server=NETG-SQLCLSTR02;Database=tonergiant2;User Id=tonergiant;Password=ujNOtofkwFYdojwo2594;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="WebsiteId" value="1"/>
    <add key="DomainName_Live" value="www.tonergiant.co.uk/"/>
    <add key="DomainName_Dev" value="beta.tonergiant.co.uk/"/>
    <add key="CacheTime_Long" value="4"/>
    <add key="CacheTime_Short" value="1"/>
    <add key="UseVatInclusivePrices" value="0"/>
    <!-- Basket "Buy More & Save" qty-upsell offer (compatible/own-brand cartridges only) -
         gates BusinessLogic.Utilities.GetUpsellRate() and the card in
         Views/Checkout/BasketDetails.cshtml. IsCompatibleUpsellActive turns the offer on/off;
         CompatibleUpsellRates is the % saved per unit once qty is increased past the
         quantity the item was added at. Set here for local/beta testing - if this doesn't
         make the offer appear on beta.tonergiant.co.uk, the deployed site is likely reading
         a separate Web.config on the server rather than this checked-in one (this file is
         missing several other keys - e.g. Environment, CDN - that the app also reads, which
         points the same way), so the same two keys would need adding there too. -->
    <add key="IsCompatibleUpsellActive" value="true"/>
    <add key="CompatibleUpsellRates" value="10"/>
    <add value="157.231.72.210,157.231.72.211,157.231.72.212,157.231.72.213,157.231.72.214,185.170.176.7,10.0.0.9,45.145.102.190,::1" key="AllowedIPAddresses"/>
    <!-- Above: 157.231... Netgiant Office IPs; 62.232...&185.170.176.7 Netgiant Office IP's; 10.0.0.9,45.145.102.190 NETG-APP03 -->
    <add key="PayPalLogger" value="PayPal.Log.Log4netLogger"/>
    <add key="AlertLevel" value="0"/>
    <!-- 0 = No Problems, 4 = Read Only, 5 = Disaster-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation targetFramework="4.8" debug="true"/>
    <!--**ORIGINAL** httpRuntime requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,:,\,?" /-->
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" requestPathInvalidCharacters="&lt;,&gt;,%,\,?"/>
    <!--<customErrors defaultRedirect="~/Error/Index" mode="On" />-->
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/Error/Index/404"/>
    </customErrors>
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition=""/>
      <add name="cssBundle" verb="*" path="cssBundle.css" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler"/>
      <add name="portalcssBundle" verb="*" path="portalcssBundle.css" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler"/>
      <add name="jqueryBundle" verb="*" path="jqueryBundle.js" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler"/>
      <add name="bootstrapBundle" verb="*" path="bootstrapBundle.js" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler"/>
      <add name="bootstrapBundleM" verb="*" path="bootstrapBundleM.js" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler"/>
      <add name="jqueryvalBundle" verb="*" path="jqueryvalBundle.js" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler"/>
      <add name="portaljsBundle" verb="*" path="portaljsBundle.js" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler"/>
      <add name="portalhdrjsBundle" verb="*" path="portalhdrjsBundle.js" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler"/>
      <add name="checkoutBundle" verb="*" path="checkoutBundle.js" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler"/>
      <add name="productBundle" verb="*" path="productBundle.js" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler"/>
      <add name="wizardBundle" verb="*" path="wizardBundle.js" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpErrors errorMode="Detailed"/>
    <httpProtocol>
      <customHeaders>
        <!-- Remove any potentially existing X-Frame-Options header just in case -->
        <!-- Although SuppressXFrameOptionsHeader should prevent it, this is belts and braces -->
        <remove name="X-Frame-Options"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.0" newVersion="1.5.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dotless minifyCss="false" cache="true" web="false" strictMath="false">
    <plugin name="LessPlugins" assembly="TG-Ecommerce-Website"/>
  </dotless>
  <!-- log4net settings -->
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="data/log/paypal.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="100KB"/>
      <maxSizeRollBackups value="3"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="WARN"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 3F7125A7-4E6F-4948-8E74-2BC4DA7F2C29-->