div.mini-product-entry.best-seller {
    width: 100%;
}

.g-ps-r-i {
    position: relative !important;
}

.g-bsz-bb {
    box-sizing: border-box;
}

div.main-bester-sellers .mini-product-entry {
    height: auto;
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px #ccc solid;

    a img {
        border: none;
    }
}

.navbar-inverse .navbar-collapse {
    z-index: 11;
}

.wizardSearch-container {
    .input-group {
        input,
        span > button {
            height: 60px !important;
        }
    }
}

@media (max-width: 768px) {
    form.has-touch [data-provide="rac"] {
        font-size: 14px !important;
    }
}

@media (min-width: 992px) {
    .hm-wizmsg {
        height: 40px;
    }

    .carousel-indicators {
        bottom: 10px;
    }
    // Menu Type 5
    .nav-label2Chevron1, .nav-label2Chevron2 {
        display: none;
    }

    .nav-label1 {
        &:hover {
            background-color: @col-second-bg;
            box-sizing: border-box;
            height: 50px;
            z-index: 16;

            .nav-mainLink {
                background-color: @col-second-bg;
                color: @col-secondary;
                text-decoration: none;
                z-index: 15;
            }
        }

        &:nth-last-child(-n+3) .nav-level2 {
            left: auto;
            right: 0;
        }

        &:nth-last-child(n+4) .nav-level2 {
            .nav-label2Chevron2 {
                display: inline;
            }

            .nav-level3 {
                right: auto;
                left: 278px;
            }
        }

        &:nth-last-child(-n+3) .nav-level2 {
            .nav-label2Chevron1 {
                display: inline;
            }

            .nav-level3 {
                right: 278px;
                left: auto;
            }
        }
    }

    .nav-level2 {
        font-size: 1em;
        min-height: 0;
        left: 0;
        top: 50px;
        width: 278px;
        z-index: 16;
        margin-top: 0;
        padding: 2px 0;
        text-align: left;

        .nav-label2 {
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            color: @col-primary-text;
            font-size: 9pt;
            font-weight: normal;
            padding: 0 10px;
            line-height: 30px;
            list-style-type: none;
            width: 100%;

            .nav-label2Label {
                width: 225px;
                display: inline-block;
                padding-left: 10px;
                padding-right: 10px;

                > a {
                    color: @col-primary-text;
                    display: block;
                    width: 100%;
                }
            }

            &:hover {
                background-color: @col-secondary;
                color: @col-second-text;

                .nav-label2Label {
                    color: @col-second-text;

                    > a {
                        color: @col-second-text;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .nav-level3 {
        list-style-type: none;
        font-weight: normal;
        position: absolute;
        font-size: 1em;
        top: 2px;
        margin-top: -2px;
        width: 276px;
        z-index: 16;
        background-color: @col-second-bg;
        box-sizing: border-box;
        padding: 2px 0;

        .nav-label3 {
            overflow: hidden;
            width: 276px;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 10px;
            line-height: 30px;

            a {
                color: @col-primary-text;
                box-sizing: border-box;
                width: 100%;
                display: block;
            }

            a:hover {
                color: @col-secondary;
            }

            &:hover {
                background-color: @col-secondary;
                color: @col-second-text;

                a {
                    text-decoration: none;
                    color: @col-second-text;
                }
            }
        }
    }

    .nav-level2Full {
        font-size: 1em;
        left: 0;
        margin-top: -2px;
        min-height: 0;
        width: 960px;
        z-index: 16;

        .nav-label2 {
            padding: 4px 10px;
        }
    }

    .nav-menuSubTitleSep {
        display: none;
        list-style-type: none;
    }

    .navbar-inverse .navbar-nav > li:nth-child(-n+3) > div > div {
        width: 100%;
    }

    .navbar-inverse .navbar-nav > li {
        width: 125px;

        a {
            white-space: nowrap;
        }
    }

    div.special-offers img {
        margin-top: 0;
    }

    div.special-offers > div:nth-child(2) > div:nth-child(2) {
        margin-top: 40px;
    }

    .mini-product-entry.best-seller {
        width: 25% !important;
        margin-right: -10px;
    }

    div.main-bester-sellers .mini-product-entry {
        height: 315px;
        padding: 0 30px 0 0;
        margin-bottom: 0;
        background: none;
        border: none;

        a img {
            border: 1px #ccc solid;
        }
    }
}

@media (min-width: 1200px) {
    .navbar-inverse .navbar-nav > li {
        width: 150px;

        a {
            white-space: normal;
        }
    }
}