// Sprite Images
img[class*="msp_"], a[class*=jspArrow] {
    background-image: url("@{cdn}/Images/mainSprite.png");
    background-repeat: no-repeat;
}

.msp_maestro {
    background-position: -140px -270px;
    width: 64px;
    height: 40px;
}

.msp_mastercard, .msp_mc, .msp_mcdebit {
    background-position: -140px -220px;
    width: 64px;
    height: 40px;
}

.msp_sage {
    background-position: 0 -220px;
    width: 64px;
    height: 40px;
}

.msp_payPal {
    background-position: -210px -220px;
    width: 64px;
    height: 40px;
}

.msp_sagepay {
    background-position: 0 -220px;
    width: 64px;
    height: 40px;
}

.msp_americanExpress, .msp_amex {
    background-position: 0 -270px;
    width: 64px;
    height: 40px;
}

.msp_visa, .msp_delta, .msp_uke {
    background-position: -70px -220px;
    width: 64px;
    height: 40px;
}

.msp_solo {
    background-position: -70px -270px;
    width: 64px;
    height: 40px;
}

.msp_delivery {
    background-position: 0 -480px;
    width: 35px;
    height: 25px;
}

.msp_googleshops {
    background-position: 0 -320px;
    width: 40px;
    height: 40px;
}

.msp_commodo {
    background-position: -50px -320px;
    width: 120px;
    height: 40px;
}

.msp_facebook {
    background-position: 0 -370px;
    width: 40px;
    height: 40px;
}

.msp_youTube {
    background-position: -150px -370px;
    width: 40px;
    height: 40px;
}

.msp_twitter {
    background-position: -50px -370px;
    width: 40px;
    height: 40px;
}

.msp_google {
    background-position: -100px -370px;
    width: 40px;
    height: 40px;
}

.msp_siteLogo {
    background-position: 0 0;
    width: 320px;
    height: 90px;
}

.msp_feefoMainLogo {
    background-position: 0 -420px;
    width: 190px;
    height: 45px;
}

.msp_bullGuarantee {
    background-position: -120px -510px;
    width: 35px;
    height: 25px;
}

.msp_bullOffer1 {
    background-position: -40px -510px;
    width: 35px;
    height: 25px;
}

.msp_bullOffer2 {
    background-position: -200px -480px;
    width: 35px;
    height: 25px;
}

.msp_bullOffer17, .msp_bullOffer18 {
    background-position: -160px -510px;
    width: 35px;
    height: 25px;
}


.msp_bullInfo, .msp_bullOffer19, .msp_bullOffer20 {
    background-position: -40px -480px;
    width: 35px;
    height: 25px;
}

.msp_bullOffer, .msp_bullOffer3, .msp_bullOffer4, .msp_bullOffer5, .msp_bullOffer11, .msp_bullOffer12, .msp_bullOffer13, .msp_bullOffer14, .msp_bullOffer15, .msp_bullOffer16 {
    background-position: 0 -510px;
    width: 35px;
    height: 25px;
}

.msp_bullGift, .msp_bullOffer6, .msp_bullOffer7, .msp_bullOffer8, .msp_bullOffer9, .msp_bullOffer10 {
    background-position: -80px -510px;
    width: 35px;
    height: 25px;
}

.msp_multibox {
    background-position: -200px -510px;
    width: 35px;
    height: 25px;
}

.msp_chkBox_checked, .msp_chkBox_unChecked.active {
    background-position: -250px -370px;
    width: 10px;
    height: 10px;
}

.msp_chkBox_unChecked {
    background-position: -250px -390px;
    width: 10px;
    height: 10px;
}

.msp_chevronLeft, .jspArrowLeft {
    background-position: -180px -100px;
    background-attachment: scroll;
    width: 20px;
    height: 20px;
}

.msp_chevronRight, .jspArrowRight {
    background-position: -210px -100px;
    background-attachment: scroll;
    width: 20px;
    height: 20px;
}

.msp_chevronLeft:hover, .jspArrowLeft:hover {
    background-position: -180px -130px;
    background-attachment: scroll;
    width: 20px;
    height: 20px;
}

.msp_chevronRight:hover, .jspArrowRight:hover {
    background-position: -210px -130px;
    background-attachment: scroll;
    width: 20px;
    height: 20px;
}

.msp_liveChatOnline {
    background-position: 0 -550px;
    width: 165px;
    height: 70px;
}

.msp_liveChatOffline {
    background-position: 0 -550px;
    width: 1px;
    height: 1px;
}

.msp_goToTop {
    background-position: -200px -370px;
    width: 40px;
    height: 40px;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.msp_signIn {
    background-position: 0 -100px;
    width: 50px;
    height: 50px;
}

.msp_signUp {
    background-position: -60px -100px;
    width: 50px;
    height: 50px;
}

.msp_zoom {
    background-position: -120px -100px;
    width: 50px;
    height: 50px;
}

.msp_quickreorder {
    background-position: -60px -160px;
    width: 18px;
    height: 18px;
}

.msp_quickreorderDark {
    background-position: -60px -190px;
    width: 18px;
    height: 18px;
}

.msp_livechatMini {
    background-position: -30px -160px;
    width: 18px;
    height: 18px;
}

.msp_googleShops {
    background-position: 0 -320px;
    width: 40px;
    height: 40px;
}

.msp_commodo {
    background-position: -50px -320px;
    width: 120px;
    height: 40px;
}

.msp_newSash {
    background-position: -180px -320px;
    width: 38px;
    height: 37px;
}

.msp_paym_payPal {
    background-position: 0 -710px;
    width: 100px;
    height: 25px;
}

.msp_paym_bacs {
    background-position: -110px -710px;
    width: 100px;
    height: 28px;
}

.msp_paym_app {
    background-position: -230px -700px;
    width: 36px;
    height: 36px;
}

.msp_paym_creditDebit {
    background-position: 0 -630px;
    width: 64px;
    height: 46px;
}

.msp_paym_phone {
    background-position: -80px -630px;
    width: 64px;
    height: 67px;
}

.msp_paym_account {
    background-position: -160px -630px;
    width: 72px;
    height: 46px;
}

.msp_printer {
    background-position: 0 -160px;
    width: 18px;
    height: 18px;
}

.msp_printerDark {
    background-position: 0 -190px;
    width: 18px;
    height: 18px;
}

.msp_basket {
    background-position: -240px -100px;
    width: 18px;
    height: 18px;
}

.msp_basketDark {
    background-position: -240px -130px;
    width: 18px;
    height: 18px;
}

.msp_chat {
    background-position: -30px -160px;
    width: 18px;
    height: 18px;
}

.msp_chatDark {
    background-position: -30px -190px;
    width: 18px;
    height: 18px;
}

.msp_orders {
    background-position: -90px -160px;
    width: 18px;
    height: 18px;
}

.msp_ordersDark {
    background-position: -90px -190px;
    width: 18px;
    height: 18px;
}

.msp_user {
    background-position: -120px -160px;
    width: 18px;
    height: 18px;
}

.msp_userDark {
    background-position: -120px -190px;
    width: 18px;
    height: 18px;
}

.msp_credit {
    background-position: -150px -160px;
    width: 18px;
    height: 18px;
}

.msp_creditDark {
    background-position: -150px -190px;
    width: 18px;
    height: 18px;
}

.msp_logIn {
    background-position: -180px -160px;
    width: 18px;
    height: 18px;
}

.msp_logInDark {
    background-position: -180px -190px;
    width: 18px;
    height: 18px;
}

.msp_logOut {
    background-position: -210px -160px;
    width: 18px;
    height: 18px;
}

.msp_logOutDark {
    background-position: -210px -190px;
    width: 18px;
    height: 18px;
}

.msp_help {
    background-position: -240px -160px;
    width: 18px;
    height: 18px;
}

.msp_helpDark {
    background-position: -240px -190px;
    width: 18px;
    height: 18px;
}

.msp_info {
    background-position: -50px -480px;
    width: 24px;
    height: 28px;
}

.msp_packSize {
    background-position: -240px -480px;
    width: 35px;
    height: 25px;
}

.msp_hp {
    background-position: 0, -750px;
    width: 120px;
    height: 40px;
}

.msp_paypal_basket {
    background-position: -180px -590px;
    width: 94px;
    height: 25px;
}

.msp_feefomini {
    background-position: -130px -750px;
    width: 86px;
    height: 20px;
}

.msp_navTabNewLabel {
    background-position: -180px -320px;
    width: 38px;
    height: 38px;
}

/* Brand Logos Sprite */
img[class*="bls_"] {
    background-image: url("@{cdn}/Images/brand-logos.png");
    background-repeat: no-repeat;
    width: 155px;
    height: 65px;
}
.bls_33 {
    background-position: 0px 0px;
}

.bls_34 {
    background-position: -158px 0px;
}

.bls_3 {
    background-position: -316px 0px;
}

.bls_4 {
    background-position: -474px 0px;
}

.bls_2 {
    background-position: -632px 0px;
}

.bls_39 {
    background-position: 0px -65px;
}

.bls_5 {
    background-position: -158px -65px;
}

.bls_6 {
    background-position: -316px -65px;
}

.bls_7 {
    background-position: -474px -65px;
}

.bls_40 {
    background-position: -632px -65px;
}

.bls_1 {
    background-position: 0px -130px;
}

.bls_8 {
    background-position: -158px -130px;
}

.bls_9 {
    background-position: -316px -130px;
}

.bls_10 {
    background-position: -474px -130px;
}

.bls_11 {
    background-position: -632px -130px;
}

.bls_12 {
    background-position: 0px -195px;
}

.bls_14 {
    background-position: -158px -195px;
}

.bls_41 {
    background-position: -316px -195px;
}

.bls_15 {
    background-position: -474px -195px;
}

.bls_16 {
    background-position: -632px -195px;
}

.bls_17 {
    background-position: 0px -260px;
}

.bls_19 {
    background-position: -158px -260px;
}

.bls_20 {
    background-position: -316px -260px;
}

.bls_42 {
    background-position: -474px -260px;
}

.bls_21 {
    background-position: -632px -260px;
}

.bls_22 {
    background-position: 0px -325px;
}

.bls_23 {
    background-position: -158px -325px;
}

.bls_24 {
    background-position: -316px -325px;
}

.bls_38 {
    background-position: -474px -325px;
}

.bls_25 {
    background-position: -632px -325px;
}

.bls_35 {
    background-position: 0px -390px;
}

.bls_36 {
    background-position: -158px -390px;
}

.bls_37 {
    background-position: -316px -390px;
}

/* Printer Brand Logos Sprite */
img[class*="pbs_"] {
    background-image: url("@{cdn}/Images/printer-brand-logos.jpg");
    background-repeat: no-repeat;
    width: 118px;
    height: 98px;
}
.pbs_1 {
    background-position: 1px -1099px;
}

.pbs_2 {
    background-position: 1px -399px;
}

.pbs_3 {
    background-position: 1px -199px;
}

.pbs_4 {
    background-position: 1px -299px;
}

.pbs_5 {
    background-position: 1px -599px;
}

.pbs_6 {
    background-position: 1px -699px;
}

.pbs_7 {
    background-position: 1px -799px;
}

.pbs_8 {
    background-position: 1px -1199px;
}

.pbs_9 {
    background-position: 1px -1299px;
}

.pbs_10 {
    background-position: 1px -1399px;
}

.pbs_11 {
    background-position: 1px -1499px;
}

.pbs_12 {
    background-position: 1px -1599px;
}

.pbs_14 {
    background-position: 1px -1699px;
}

.pbs_15 {
    background-position: 1px -1899px;
}

.pbs_16 {
    background-position: 1px -1999px;
}

.pbs_17 {
    background-position: 1px -2099px;
}

.pbs_19 {
    background-position: 1px -2199px;
}

.pbs_20 {
    background-position: 1px -2399px;
}

.pbs_21 {
    background-position: 1px -2599px;
}

.pbs_22 {
    background-position: 1px -2699px;
}

.pbs_23 {
    background-position: 1px -2799px;
}

.pbs_24 {
    background-position: 1px -2899px;
}

.pbs_25 {
    background-position: 1px -3099px;
}

.pbs_26 {
    background-position: 1px -2999px;
}

.pbs_33 {
    background-position: 1px 1px;
}

.pbs_34 {
    background-position: 0px -100px;
}

.pbs_35 {
    background-position: 0px -900px;
}

.pbs_36 {
    background-position: 0px -1800px;
}

.pbs_37 {
    background-position: 0px -2300px;
}

.pbs_38 {
    background-position: 0px -3000px;
}

.pbs_39 {
    background-position: 0px -500px;
}

.pbs_40 {
    background-position: 0px -1000px;
}

.pbs_42 {
    background-position: 0px -2500px;
}

/* Start of Promo Sprite classes */
img[class*="ps_promo"] {
    background-image: url("@{cdn}/images/promoSprite.png");
    background-repeat: no-repeat;
}
.ps_promo1_1 {
    background-position: 0 0;
    width: 223px;
    height: 223px;
}
.ps_promo1_2 {
    background-position: -240px 0;
    width: 223px;
    height: 223px;
}
.ps_promo1_2l {
    background-position: -240px 0;
    width: 468px;
    height: 223px;
}
.ps_promo1_3 {
    background-position: -480px 0;
    width: 223px;
    height: 223px;
}
.ps_promo1_4 {
    background-position: -720px 0;
    width: 223px;
    height: 223px;
}
.ps_promo2_1 {
    background-position: 0 -240px;
    width: 223px;
    height: 223px;
}
.ps_promo2_2 {
    background-position: -240px -240px;
    width: 223px;
    height: 223px;
}
.ps_promo2_3 {
    background-position: -480px -240px;
    width: 223px;
    height: 223px;
}
.ps_promo2_4 {
    background-position: -720px -240px;
    width: 223px;
    height: 223px;
}
/* End of Promo Sprite classes */

/* Start of Colour Chip classes */
.cc-3 { /* Gloss */
    background: #cccccc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#cccccc, #999999 );
    background: -o-linear-gradient(#cccccc, #999999 );
    background: -moz-linear-gradient(#cccccc, #999999 );
    background: linear-gradient(#cccccc, #999999 );
}

.cc-5 { /* PBKCMYGY */
    background: #00aeef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: -o-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: -moz-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
}

.cc-6 { /* Black */
    background-color: #333333;
}

.cc-9 { /* Cyan */
    background-color: #00aeef;
}

.cc-12 { /* Cyan + Black */
    background: #00aeef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #00aeef, #333333);
    background: -o-linear-gradient(left, #00aeef, #333333);
    background: -moz-linear-gradient(left, #00aeef, #333333);
    background: linear-gradient(left, #00aeef, #333333);
}

.cc-15 { /* Cyan + Lt Cyan */
    background: #00aeef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #00aeef, #33ccff);
    background: -o-linear-gradient(left, #00aeef, #33ccff);
    background: -moz-linear-gradient(lleft, #00aeef, #33ccff);
    background: linear-gradient(left, #00aeef, #33ccff);
}

.cc-18 { /* Magenta */
    background-color: #ec008c;
}

.cc-21 { /* Magenta + Lt Magenta */
    background: #ec008c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ec008c, #ff6dbb);
    background: -o-linear-gradient(left, #ec008c, #ff6dbb);
    background: -moz-linear-gradient(left, #ec008c, #ff6dbb);
    background: linear-gradient(left, #ec008c, #ff6dbb);
}

.cc-24 { /* Magenta + Black */
    background: #ec008c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ec008c, #333333);
    background: -o-linear-gradient(left, #ec008c, #333333);
    background: -moz-linear-gradient(left, #ec008c, #333333);
    background: linear-gradient(left, #ec008c, #333333);
}

.cc-27 { /* Yellow */
    background-color: #cccc33;
}

.cc-30 { /* Yell + Black */
    background: #333333; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #cccc33, #000000);
    background: -o-linear-gradient(left, #cccc33, #000000);
    background: -moz-linear-gradient(left, #cccc33, #000000);
    background: linear-gradient(left, #cccc33, #000000);
}

.cc-33 { /* CMY */
    background: #00aeef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #00aeef, #ec008c, #cccc33);
    background: -o-linear-gradient(left, #00aeef, #ec008c, #cccc33);
    background: -moz-linear-gradient(left, #00aeef, #ec008c, #cccc33);
    background: linear-gradient(left, #00aeef, #ec008c, #cccc33);
}

.cc-36 { /* Black */
    background-color: #333333;
}

.cc-39 { /* Cya+Mag */
    background: #00aeef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #00aeef, #ec008c);
    background: -o-linear-gradient(left, #00aeef, #ec008c);
    background: -moz-linear-gradient(left, #00aeef, #ec008c);
    background: linear-gradient(left, #00aeef, #ec008c);
}

.cc-42 { /* Lt Cyan */
    background-color: #33ccff;
}

.cc-45 { /* Lt Magenta */
    background-color: #ff6dbb;
}

.cc-48 { /* LtCya+LtMag */
    background: #33ccff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #33ccff, #ff6dbb);
    background: -o-linear-gradient(left, #33ccff, #ff6db);
    background: -moz-linear-gradient(left, #33ccff, #ff6db);
    background: linear-gradient(left, #33ccff, #ff6db);
}

.cc-54 { /* Blue */
    background-color: #0000ff;
}

.cc-57 { /* Red */
    background-color: #ff0000;
}

.cc-60 { /* Green */
    background-color: #00cc00;
}

.cc-63 { /* Blue + Green */
    background: #00aeef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #00aeef, #00cc00);
    background: -o-linear-gradient(left, #00aeef, #00cc00);
    background: -moz-linear-gradient(left, #00aeef, #00cc00);
    background: linear-gradient(left, #00aeef, #00cc00);
}

.cc-69 { /* Orange */
    background-color: #ff6600;
}

.cc-72 { /* Grey */
    background-color: #999999;
}

.cc-75 { /* Grey + Black */
    background: #999999; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #999999, #000000);
    background: -o-linear-gradient(left, #999999, #000000);
    background: -moz-linear-gradient(left, #999999, #000000);
    background: linear-gradient(left, #999999, #000000);
}

.cc-79 { /* Maintenance */
    background: #999999; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#999999, #000000);
    background: -o-linear-gradient(#999999, #000000);
    background: -moz-linear-gradient(#999999, #000000);
    background: linear-gradient(#999999, #000000);
}

.cc-81 { /* BCMY */
    background: #00aeef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: -o-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: -moz-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
}

.cc-83 { /* BBCMY */
    background: #00aeef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: -o-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: -moz-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
}

.cc-87 { /* BCMYLCLM */
    background: #999999; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: -o-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: -moz-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
}

.cc-90, .cc-96, .cc-108 { /* Multipack */
    background: #00aeef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: -o-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: -moz-linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
    background: linear-gradient(left, #000000, #00aeef, #ec008c, #cccc33);
}

.cc-99 { /* Magenta + Yellow */
    background: #ec008c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ec008c, #cccc33);
    background: -o-linear-gradient(left, #ec008c, #cccc33);
    background: -moz-linear-gradient(left, #ec008c, #cccc33);
    background: linear-gradient(left, #ec008c, #cccc33);
}

.cc-110 { /* Violet */
    background-color: #645394;
}

.cc-111 { /* CMYLCLM */
    background: #999999; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #00aeef, #ec008c, #cccc33);
    background: -o-linear-gradient(left, #00aeef, #ec008c, #cccc33);
    background: -moz-linear-gradient(left, #00aeef, #ec008c, #cccc33);
    background: linear-gradient(left,#00aeef, #ec008c, #cccc33);
}
/* End of Colour Chip classes */
