.offer-overlay {
    > div {
        background: #FF6666;
    }

    > div:first-child {
        background: #FF6666;
        background: -webkit-linear-gradient(#FF6666, #FF3333);
        background: -o-linear-gradient(#FF6666, #FF3333);
        background: -moz-linear-gradient(#FF6666, #FF3333);
        background: linear-gradient(#FF6666, #FF3333);
    }
}