<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Pay.API.SDK" version="2.5.1" targetFramework="net48" />
  <package id="Elasticsearch.Net" version="7.6.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net48" />
  <package id="ExpressiveAnnotations" version="2.9.6" targetFramework="net48" />
  <package id="ExpressiveAnnotations.dll" version="2.7.4" targetFramework="net48" />
  <package id="jQuery" version="1.8.2" targetFramework="net48" />
  <package id="jQuery.Validation" version="1.10.0" targetFramework="net48" />
  <package id="LinqKit" version="1.1.9.0" targetFramework="net48" />
  <package id="MailChimp.Net.V3" version="5.8.2" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Http" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="NEST" version="7.6.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="PayPalCheckoutSdk" version="1.0.3" targetFramework="net48" />
  <package id="PayPalHttp" version="1.0.0" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="RestSharp" version="112.1.0" targetFramework="net48" />
  <package id="RestSharp.Serializers.NewtonsoftJson" version="112.1.0" targetFramework="net48" />
  <package id="SendGrid" version="9.29.2" targetFramework="net48" />
  <package id="starkbank-ecdsa" version="1.3.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.9" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.9" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.9" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="UAParser" version="3.1.47" targetFramework="net48" />
</packages>