USE [netgiantMasterData]
GO

CREATE PROC [ngmd].[GetFilteredQASummary](@Mode VARCHAR(12), @StartRow INT = NULL, @PageSize INT = NULL, @AltRef VARCHAR(20), @SearchText VARCHAR(MAX))
AS
IF (@Mode = 'Total')
BEGIN
	SELECT	COUNT(qa.QuestionAnswerID) [TotalRows]
	FROM	ngmd.qa_Main qa  
			INNER JOIN ngmd.qa_Granularity g  
				ON qa.GranularityFK = g.GranularityID
	WHERE	qa.AltRef LIKE '%' + @AltRef + '%'
			AND qa.Question LIKE '%' + @SearchText + '%'
END
ELSE IF (@Mode = 'Filter')
BEGIN
	SELECT	q.QuestionAnswerID, q.Question, q.Answer, q.Email, q.AskedDate, q.RepliedDate, q.ShowOnAllSites,
			q.GranularityID, q.UserFK, q.SourceWebsiteID, q.ProductID, q.AltRef, RowNumber
	FROM	(
				SELECT	qa.QuestionAnswerID, qa.Question, qa.Answer, qa.Email, qa.AskedDate, qa.RepliedDate, qa.ShowOnAllSites,
						g.GranularityID, qa.UserFK, qa.SourceWebsiteID, qa.ProductID, qa.AltRef,
						ROW_NUMBER() OVER(ORDER BY QuestionAnswerID ASC) [RowNumber]
				FROM	ngmd.qa_Main qa  
						INNER JOIN ngmd.qa_Granularity g  
							ON qa.GranularityFK = g.GranularityID
				WHERE	qa.AltRef LIKE '%' + @AltRef + '%'
						AND qa.Question LIKE '%' + @SearchText + '%'
			)	q
	WHERE q.RowNumber BETWEEN @StartRow + 1 AND (@StartRow + @PageSize)
END