USE [netgiantMasterData]
GO

CREATE PROC [ngmd].[GetQASummary] (@Mode VARCHAR(12), @StartRow INT = NULL, @PageSize INT = NULL, @FilterExpression VARCHAR(55) = NULL)
AS
BEGIN
	IF (@Mode = 'Total')
	BEGIN
		SELECT	COUNT(*) [TotalRows]
		FROM	ngmd.qa_Main qa  
				INNER JOIN ngmd.qa_Granularity g  
					ON qa.GranularityFK = g.GranularityID;
	END
	ELSE IF (@Mode = 'All')
	BEGIN
		SELECT	q.QuestionAnswerID, q.Question, q.Answer, q.Email, q.AskedDate, q.RepliedDate, q.ShowOnAllSites,
				q.GranularityID, q.UserFK, q.SourceWebsiteID, q.ProductID, q.AltRef
		FROM	(
					SELECT	qa.QuestionAnswerID, qa.Question, qa.Answer, qa.Email, qa.AskedDate, qa.RepliedDate, qa.ShowOnAllSites,
							g.GranularityID, qa.UserFK, qa.SourceWebsiteID, qa.ProductID, qa.AltRef,
							ROW_NUMBER() OVER(ORDER BY QuestionAnswerID ASC) [RowNumber]
					FROM	ngmd.qa_Main qa  
							INNER JOIN ngmd.qa_Granularity g  
								ON qa.GranularityFK = g.GranularityID
				)	q
		WHERE q.RowNumber BETWEEN @StartRow + 1 AND (@StartRow + @PageSize);
	END
	ELSE IF (@Mode = 'Filter')
	BEGIN
		
		SELECT	q.QuestionAnswerID, q.Question, q.Answer, q.Email, q.AskedDate, q.RepliedDate, q.ShowOnAllSites,
				q.GranularityID, q.UserFK, q.SourceWebsiteID, q.ProductID, q.AltRef
		FROM	(
					SELECT	qa.QuestionAnswerID, qa.Question, qa.Answer, qa.Email, qa.AskedDate, qa.RepliedDate, qa.ShowOnAllSites,
							g.GranularityID, qa.UserFK, qa.SourceWebsiteID, qa.ProductID, qa.AltRef,
							ROW_NUMBER() OVER(ORDER BY QuestionAnswerID ASC) [RowNumber]
					FROM	ngmd.qa_Main qa  
							INNER JOIN ngmd.qa_Granularity g  
								ON qa.GranularityFK = g.GranularityID
					WHERE	qa.Answer LIKE '%' + @FilterExpression + '%'
				)	q
		WHERE q.RowNumber BETWEEN @StartRow + 1 AND (@StartRow + @PageSize)

	END
END