.navbar-inverse .navbar-nav ul {
    padding-left: 0;
}

.navbar-inverse .navbar-nav li {
    list-style: none;
}

.navbar-inverse .navbar-nav li a {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

